* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #d3e1f5;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1 {
    margin-bottom: 24px;
}

.box {
    background-color: #fff;
    width: 80%;
    margin: auto;
    height: 100vh;
    padding: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: auto;
}

.table {
    margin: auto;
    width: 100%;
    border-collapse: collapse;
}

.table tr:first-child {
    background-color: #064391;
}

.table th,
.table td {
    padding: 8px;
}

.table th {
    text-align: left;
    color: #fff;
}

.table td {
    background-color: #f3f8ff;
}

.table tr {
    border-bottom: solid 1px #4848c6;
}

.btn {
    border: none;
    border-radius: 4px;
    padding: 4px 8px;
    color: #fff;
    cursor: pointer;
}

.btn-success {
    background-color: #1b8b4c;
}

.btn-danger {
    background-color: #ac3030;
}

.btn-info {
    background-color: #4769ce;
}

.borda {
    border: solid 1px red;
}

.w-80 {
    width: 80%;
}

.btn-row {
    display: flex;
    justify-content: flex-end;
    padding: 16px 0;
}

.card-list {
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.card {
    padding: 16px;
    margin-bottom: 16px;
    width: 200px;
    background-color: #f9f9f9;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
}

.card:hover {
    box-shadow: #e7e7e7 2px 2px 8px;
}

.card h2 {
    text-align: center;
    font-size: 18px;
    margin-bottom: 16px;
}

.card p {
    margin-bottom: 4px;
    font-size: 12px;
    color: #3c3c3c;
}

.card button {
    margin-top: 16px;
}

.indice {
    width: 100%;
    display: block;
    color: #fff;
    padding: 4px;
    font-size: 8px;
    border-radius: 4px;
    text-align: center;
}

.indice-alta {
    background-color: #cf7404;
}

.indice-internado {
    background-color: #1f1e1e;
}

.borda-alta {
    border-left: solid 5px #cf7404;
}

.borda-internado {
    border-left: solid 5px #1f1e1e;
}